.tab{
    position: absolute;
    background: #f06b05;    
    background: linear-gradient(90deg, rgba(240, 107, 5, 1) 0%, rgba(255, 156, 80, 0.8) 50%, rgba(240, 107, 5, 1) 100%);
    top: 39px;
    right: 42px;
    border-radius: 12px;
    max-width: 425px;
    width: 100%;
    overflow: hidden;
}

.apps-content, .notifications-content{
    overflow: hidden;
    position: relative;
}


.notifications-content{
    max-height: 440px;
    overflow-y: auto;
    height: 100%;
}

.tab h3{
    margin-left: 12px;
}

.notification{
    display: flex;
    gap: 30px;
    padding: 20px;
    cursor: pointer;
    overflow-y: hidden;
}

.notification-empty{
    text-align: center;
    padding: 25% 0;
    font-size: 0.93em;
    font-weight: bold;
}

.notification:hover{
    background: #e3731e;
}

.notification:active{
    background: #db8340;
}

.notification-profile-icon{
    background-color: #888888;
    width: 35px;
    height: 35px;
    border-radius: 18px;
}

.notification-icon{
    width: 35px;
    height: 35px;
    text-align: center;
}

.notification-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
}

#notification-name{
    font-weight: bold;
}

#notification-time{
    font-size: 13.5px;
    color: #555;
}

.apps-content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    max-height: 400px;
}

.app{
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
    background-color: #888888;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.app:hover{
    opacity: 0.85;
}

.app:active{
    opacity: 0.75;
}

@media (max-width: 1000px) {
    .notification{
        padding: 15px;
    }

    .notification-label span{
        font-size: 12.5px;
    }

    #notification-time{
        font-size: 11px;
    }

    .tab h3{
        font-size: 1em;
    }

    .tab{
        max-width: 355px;
    }

    .notifications-content{
        max-height: 380px;
    }

    .app{
        font-size: 12.5px;
        padding: 25px 20px;
    }

    .apps-content{
        max-height: 340px;
        overflow-x: hidden;
    }
}